body {
  background-color: rgb(92, 60, 236);
}
.container {
  display: block;
  max-width: 600px;
  margin: 20px;
  padding: 30px;
  background-color: rgba(250, 235, 215, 0.664);
  border-radius: 20px;
}
h1 {
  text-align: center;
  font-size: 100px;
  color: aliceblue;
}

footer {
  font-size: large;
}
